<header>
  <ul class="nav nav-tabs justify-content-end">
    <li class="nav-item"><a href="/" class="nav-link disabled">blog</a></li>
    <li class="nav-item"><a href="/matrix" class="nav-link disabled">dashboard</a></li>
    <li class="nav-item"><a href="/logout" class="nav-link disabled">log out</a></li>
  </ul>
</header>