<header class="header" id="header">
  <nav class="nav">
    <!-- <a href="#" class="nav__logo">Cadu</a> -->

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list grid">
        <li class="nav__item">
          <a class="nav__links" href="/">
            <i class="uil uil-estate nav__icon"></i> home
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__links" href="/about">
            <i class="uil uil-user nav__icon"></i> about
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__links" href="/articles">
            <i class="uil uil-book-reader nav__icon "></i> articles
          </a>
        </li>
      </ul>
      <div class="nav__close" id="nav-close">
        <i class="uil uil-multiply"></i>
      </div>
    </div>

    <div class="nav__btns">
      <div class="nav__toggle" id="nav-toggle">
        <i class="uil uil-apps"></i>
      </div>
    </div>
  </nav>
</header>